<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5>Sobre Birpin</h5>
        <ul>
          <li>¿Por qué Birpin?</li>
          <li>Equipo de proyecto</li>
          <li>Misión y valores</li>
        </ul>

      </div>

      <div class="col-md-3">
        <h5>Ayuda</h5>
        <ul>
          <li>Ayuda a postulantes</li>
          <li>Ayuda para empresas</li>
          <li>Publicitar en Birpin</li>
          <li>Informar un error</li>
        </ul>
      </div>

      <div class="col-md-3"></div>

      <div class="col-md-3">
        <h5>Birpin en Latam</h5>
        <ul class="flags">
          <li><img src="http://wikimitos.org/images/b/b6/Bandera_de_Argentina.svg"></li>
          <li><img src="http://wikimitos.org/images/e/e4/Bandera_de_Chile.svg"></li>
          <li><img src="http://wikimitos.org/images/2/2d/Bandera_de_Per%C3%BA.svg"></li>
          <li><img src="http://wikimitos.org/images/e/e1/Bandera_de_Uruguay.svg"></li>
        </ul>

        <hr>
        <h5>Birpin en redes sociales</h5>
        <ul class="social">
          <li><a href=""><span class="ion-social-facebook"></span></a></li>
          <li><a href=""><span class="ion-social-twitter"></span></a></li>
          <li><a href=""><span class="ion-social-linkedin"></span></a></li>
          <li><a href=""><span class="ion-social-googleplus"></span></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="foot">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li>© 2017 · Birpin</li>
            <li> ·</li>
            <li>Términos y condiciones</li>
            <li>Políticas de privacidad</li>
            <li>Seguridad</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
