@import "../../../../../styles/vars.scss";

.well {
  background: white;
  padding: 15px;
  margin: 0;
  overflow: auto;
  position: relative;
}

.user-profile-horizontal {
  margin-bottom: 15px;
  .well {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .info {
      display: flex;
      align-items: center;
    }
    .foto {
      max-width: 60px;
      margin-right: 10px;
    }

    .datos {
      h4, h6 {
        margin: 0;
        margin-bottom: 5px;
      }
      h4 {
        cursor: pointer;
        font-size: 16px;
      }
      small {

      }
    }
  }
}
