$main-color: #FF9900;
$color2: #1E91D6;
$color3: #004E64;
$color4: #00A5CF;
$color5: #F42B03;

$gray: #999999;

$text-color: #3b4858;
$title-font: "Rubik";
$text-font: "Roboto";

$facebook: #3b5998;
$linkedin: #007bb5;
$google: #dd4b39;
