@import "../../../../../styles/vars.scss";

.oferta-laboral {
  margin-bottom: 10px;
  .well {
    background: white;
    padding: 15px;
    margin: 0;
    overflow: auto;
    position: relative;
    .empresa {
      display: flex;
      .img {
        flex: 1;
        margin-right: 10px;
      }

      .nombre {
        flex: 15;

        .compatibilidad {
          position: absolute;
          float: right;
          top: 10px;
          right: 10px;
          span {
            color: #666;
          }
        }

        h4, h5 {
          margin: 0;
        }
        h4 {
          text-transform: none;
        }
        h4 {
          margin-bottom: 5px;
        }
        small {
          font-size: 11px;
          color: $color2;
          text-transform: lowercase;
        }
      }
    }

    .zona {
      display: inline-block;
    }

    .aplicar {
      float: right;
    }
  }
  &.post {
    hr {
      margin: 10px 0;
    }
    .descripcion {
      max-height: none;
      margin-bottom: 20px;
    }
  }
}

:host article {
  margin-bottom: 30px;
  padding-bottom: 10px;

  .empresa {
    display: flex;
    margin-bottom: 10px;
    min-height: 40px;
    align-items: center;

    .img {
      flex: 1;

      img {
        max-width: 50px;
        max-height: 35px;
      }
    }

    .nombre {
      flex: 5;
      text-transform: uppercase;

      a {
        color: #666
      }

      h4 {
        font-size: 16px;
        line-height: 18px;
      }

      h5 {
        font-weight: 400;
        line-height: 10px;
      }
    }
  }

  .descripcion {
    max-height: 70px;
    position: relative;
    overflow: hidden;
    color: lighten($text-color, 20%);
    font-weight: 300;

    .overlay {
      height: 30px;
      position: absolute;
      width: 100%;
      bottom: 0;
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 0.12) 9%, rgba(255, 255, 255, 1) 66%, rgba(255, 255, 255, 1) 72%);
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 0.12) 9%, rgba(255, 255, 255, 1) 66%, rgba(255, 255, 255, 1) 72%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 0.12) 9%, rgba(255, 255, 255, 1) 66%, rgba(255, 255, 255, 1) 72%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=  '#00ffffff', endColorstr='#ffffff', GradientType=0);
    }
  }
  margin-bottom: 10px;

  .well {
    background: white;
    padding: 15px;
    margin: 0;
    overflow: auto;
    position: relative;

    .empresa {
      display: flex;

      .img {
        flex: 1;
        margin-right: 10px;
      }

      .nombre {
        flex: 15;

        .compatibilidad {
          position: absolute;
          float: right;
          top: 10px;
          right: 10px;

          span {
            color: #666;
          }
        }

        h4,
        h5 {
          margin: 0;
        }

        h4 {
          text-transform: none;
        }

        h4 {
          margin-bottom: 5px;
        }

        small {
          font-size: 11px;
          color: $color2;
          text-transform: lowercase;
        }
      }
    }

    .zona {
      display: inline-block;
    }

    .aplicar {
      float: right;
    }
  }
}
