<div class="margintop20">
  <ul class="timeline2 flow">
    <li>
      <p>Postulantes</p>
    </li>
    <li *ngFor="let phase of phases">
      <p>{{phase.label}}</p>
    </li>
    <li>
      <p>Ingreso</p>
    </li>
  </ul>

  <ul class="timeline2 flow">
    <li>Matías Santuchi</li>
    <li>
      <a data-toggle="modal" data-target="#telefonico">
        <img
          src="https://media.licdn.com/media-proxy/ext?w=800&h=800&hash=RYQ73TEpnxfdNAlhX0rvCzQQzFQ%3D&ora=1%2CaFBCTXdkRmpGL2lvQUFBPQ%2CxAVta5g-0R6nlh8Tw1Ek-L7Q40O550NJC4HTDy_8DnHzq8jAIiihMNiKMfau41ATeCwXyAk3f---Fj2_BMvtaNLiLJYR9-6YRvGCNCxDOzoGjzhAtfNibU1h57b3CcLYOGsd9qpXfy7gYvy7RFMZKAYDxeiCH4rIDnFD1UC9eP7DKf0ADJR60bdOwgtS6p33QsQywNRe3zlA3Ai9rp_1IR8WvcWkInyXAW8WWEKYH65A77yXyzSmpB3Lnkb2lIm8LqGwFJE2zES_xevUXziqjnd_m1g4jS5BpdpeB2r6pvwtuUSlHP8KWlOlhbDMXkupoKgUzww3ofqADRaQS1ExvgFJddTgs34NJ4PEm1WL9AJsffp1T2pO1cS5bOmO6juPMFFOPHmrZnQCnYrOh6iVAfZKbKltusM7atA9UCEratMRDj22n_oWAGkgpqsDfVnYOTLgjaTiW4oLdbx2CT8XFsfSGc5T_oha7Q3yzSR2WON2DfQ_olZrWagnofPdleyQgulujDdNYW7nt-vvaDaU1-umwaYbaXyqZWFncb5sKTY"
          class="img-circle img-profile-tl">
      </a>
    </li>
    <li> -</li>
    <li> -</li>
    <li> -</li>
    <li> -</li>
    <li> -</li>
  </ul>

  <ul class="timeline2 flow">
    <li>Alejandro Galgo</li>
    <li>
      <span class="pin ion-checkmark-circled ok"></span>
    </li>
    <li>
      <img src="http://blogs.mccombs.utexas.edu/accountingtimes/files/2015/11/Brian-Monsen-2eg0ike.jpg"
           class="img-circle img-profile-tl">
      <article class="postulante">
        <div class="tile-postulante">
          <span class="ion-heart fav"></span>
          <img src="http://blogs.mccombs.utexas.edu/accountingtimes/files/2015/11/Brian-Monsen-2eg0ike.jpg"
               class="img-responsive img-circle">
          <h4>Juan Carlos O.</h4>
          <hr>
          <div class="info">
            <p>
              <strong>Edad:</strong>
              30
            </p>
            <p>
              <strong>Trabaja en:</strong>
              McDonalds
            </p>
            <p>
              <strong>Perfil:</strong>
              Vendedor - Telemarketing
            </p>
          </div>
          <hr>
          <div class="actions text-center">
            <a class="btn btn-default">Fuera del proceso</a>
            <a class="btn btn-primary">Avanzar</a>
          </div>
        </div>

        <div class="historia">
          <ul class="historial">
            <li>
              <strong>22/10</strong> · Postulación
            </li>
            <li>
              <strong>29/10</strong> · Contacto via Whatsapp
            </li>
            <li>
              <strong>30/10</strong> · Postulación
            </li>
            <li>
              <hr>
            </li>
            <li>
              <a href="" class="btn btn-default">Ver historial completo</a>
            </li>
          </ul>
        </div>
      </article>
      <span class="pin fa fa-times-circle action absolute fa-spinner fa-pulse fa-fw"></span>

    </li>
    <li> -</li>
    <li> -</li>
    <li> -</li>
    <li> -</li>
  </ul>

  <ul class="timeline2 flow">
    <li>Brian Sarmiento</li>
    <li>
      <span class="pin ion-checkmark-circled ok"></span>
    </li>
    <li>
      <span class="pin ion-checkmark-circled ok"></span>
    </li>
    <li>
      <span class="pin ion-checkmark-circled ok"></span>
    </li>
    <li>
      <img src="http://blogs.mccombs.utexas.edu/accountingtimes/files/2015/11/Brian-Monsen-2eg0ike.jpg"
           class="img-circle img-profile-tl">
      <article class="postulante">

        <div class="tile-postulante">
          <span class="ion-heart fav"></span>
          <img src="http://blogs.mccombs.utexas.edu/accountingtimes/files/2015/11/Brian-Monsen-2eg0ike.jpg"
               class="img-responsive img-circle">
          <h4>Juan Carlos O.</h4>
          <hr>
          <div class="info">
            <p>
              <strong>Edad:</strong>
              30
            </p>
            <p>
              <strong>Trabaja en:</strong>
              McDonalds
            </p>
            <p>
              <strong>Perfil:</strong>
              Vendedor - Telemarketing
            </p>
          </div>
          <hr>
          <div class="actions text-center">
            <a class="btn btn-default">Fuera del proceso</a>
            <a class="btn btn-primary">Avanzar</a>
          </div>
        </div>

        <div class="historia">
          <ul class="historial">
            <li>
              <strong>22/10</strong> · Postulación
            </li>
            <li>
              <strong>29/10</strong> · Contacto via Whatsapp
            </li>
            <li>
              <strong>30/10</strong> · Postulación
            </li>
            <li>
              <hr>
            </li>
            <li>
              <a href="" class="btn btn-default">Ver historial completo</a>
            </li>
          </ul>
        </div>
      </article>
    </li>
    <li>
      <span class="pin"></span>
    </li>
    <li>
      <span class="pin"></span>
    </li>
  </ul>

  <ul class="timeline2 flow">
    <li>Juana Lopez</li>
    <li>
      <span class="pin ion-checkmark-circled warning"></span>
    </li>
    <li>
      <img
        src="https://media.licdn.com/media-proxy/ext?w=800&h=800&hash=eORUVUmWJ207NdbPsoX7pKubIDY%3D&ora=1%2CaFBCTXdkRmpGL2lvQUFBPQ%2CxAVta9Er0VO4khUewRQg7qCEoQGz60oIUpKRAW__H3D0vsrFICu2KJOcZrChpVoJeC0ewlZmIPLsEXKwD8fpbd--OJRs2Mq6OZLkN1BIYwwx"
        class="img-circle img-profile-tl">
      <article class="postulante">
        <div class="tile-postulante">
          <span class="ion-heart fav"></span>
          <img
            src="https://media.licdn.com/media-proxy/ext?w=800&h=800&hash=eORUVUmWJ207NdbPsoX7pKubIDY%3D&ora=1%2CaFBCTXdkRmpGL2lvQUFBPQ%2CxAVta9Er0VO4khUewRQg7qCEoQGz60oIUpKRAW__H3D0vsrFICu2KJOcZrChpVoJeC0ewlZmIPLsEXKwD8fpbd--OJRs2Mq6OZLkN1BIYwwx"
            class="img-responsive img-circle">
          <h4>Susana G.</h4>
          <hr>
          <div class="info">
            <p>
              <strong>Edad:</strong>
              30
            </p>
            <p>
              <strong>Trabaja en:</strong>
              McDonalds
            </p>
            <p>
              <strong>Perfil:</strong>
              Vendedor - Telemarketing
            </p>
          </div>
          <hr>
          <div class="actions text-center">
            <a class="btn btn-default">Fuera del proceso</a>
            <a class="btn btn-primary">Avanzar</a>
          </div>
        </div>

        <div class="historia">
          <ul class="historial">
            <li>
              <strong>22/10</strong> · Postulación
            </li>
            <li>
              <strong>29/10</strong> · Contacto via Whatsapp
            </li>
            <li>
              <strong>30/10</strong> · Postulación
            </li>
            <li>
              <p class="bg-danger text-left">10/11 · Rechazado por: Daniela Lopez</p>
            </li>
            <li>
              <hr>
            </li>
            <li>
              <a href="" class="btn btn-default">Ver historial completo</a>
            </li>
          </ul>
        </div>
      </article>

      <span class="pin fa fa-times-circle out absolute"></span>
    </li>
    <li>
      <span class="pin"></span>
    </li>
    <li>
      <span class="pin"></span>
    </li>
    <li>
      <span class="pin"></span>
    </li>
    <li>
      <span class="pin"></span>
    </li>
  </ul>

  <ul class="timeline2 flow">
    <li>Celeste Manchester</li>
    <li>
      <span class="pin ion-checkmark-circled warning"></span>
    </li>
    <li>
      <span class="pin ion-checkmark-circled warning"></span>
    </li>

    <li>
      <a data-toggle="modal" data-target="#modalEntrevista">

        <img
          src="https://media.licdn.com/media-proxy/ext?w=800&h=800&hash=eORUVUmWJ207NdbPsoX7pKubIDY%3D&ora=1%2CaFBCTXdkRmpGL2lvQUFBPQ%2CxAVta9Er0VO4khUewRQg7qCEoQGz60oIUpKRAW__H3D0vsrFICu2KJOcZrChpVoJeC0ewlZmIPLsEXKwD8fpbd--OJRs2Mq6OZLkN1BIYwwx"
          class="img-circle img-profile-tl">
      </a>
      <article class="postulante">
        <div class="tile-postulante">
          <span class="ion-heart fav"></span>
          <img
            src="https://media.licdn.com/media-proxy/ext?w=800&h=800&hash=eORUVUmWJ207NdbPsoX7pKubIDY%3D&ora=1%2CaFBCTXdkRmpGL2lvQUFBPQ%2CxAVta9Er0VO4khUewRQg7qCEoQGz60oIUpKRAW__H3D0vsrFICu2KJOcZrChpVoJeC0ewlZmIPLsEXKwD8fpbd--OJRs2Mq6OZLkN1BIYwwx"
            class="img-responsive img-circle">
          <h4>Susana G.</h4>
          <hr>
          <div class="info">
            <p>
              <strong>Edad:</strong>
              30
            </p>
            <p>
              <strong>Trabaja en:</strong>
              McDonalds
            </p>
            <p>
              <strong>Perfil:</strong>
              Vendedor - Telemarketing
            </p>
          </div>
          <hr>
          <div class="actions text-center">
            <a class="btn btn-default">Fuera del proceso</a>
            <a class="btn btn-primary">Avanzar</a>
          </div>
        </div>

        <div class="historia">
          <ul class="historial">
            <li>
              <strong>22/10</strong> · Postulación
            </li>
            <li>
              <strong>29/10</strong> · Contacto via Whatsapp
            </li>
            <li>
              <strong>30/10</strong> · Postulación
            </li>
            <li>
              <p class="bg-danger text-left">10/11 · Rechazado por: Daniela Lopez</p>
            </li>
            <li>
              <hr>
            </li>
            <li>
              <a href="" class="btn btn-default">Ver historial completo</a>
            </li>
          </ul>
        </div>
      </article>

      <span class="pin fa fa-times-circle out absolute"></span>
    </li>

    <li>
      <a data-toggle="modal" data-target="#modalEntrevista2">
        <span class="pin"></span>
      </a>
    </li>
    <li>
      <ul class="text-left pruebas">
        <li>
          <small>
            <span class="pin mini"></span> Psicotécnico
          </small>
        </li>
        <li>
          <small>
            <span class="pin mini"></span> Técnico
          </small>
        </li>
        <li>
          <small>
            <span class="pin mini"></span> Ambiental
          </small>
        </li>
        <li>
          <small>
            <span class="pin mini"></span> Médico
          </small>
        </li>
      </ul>
    </li>
    <li>
      <span class="pin"></span>
    </li>
  </ul>

  <ul class="timeline2 flow">
    <li>Diana Krall</li>
    <li>
      <span class="pin ion-checkmark-circled warning"></span>
    </li>
    <li>
      <span class="pin ion-checkmark-circled warning"></span>
    </li>
    <li>
      <span class="pin ion-checkmark-circled warning"></span>
    </li>


    <li>
      <a data-toggle="modal" data-target="#modalEntrevista2">
        <span class="pin"></span>
      </a>
    </li>
    <li>

      <a data-toggle="modal" data-target="#modalPruebas">
        <img
          src="https://media.licdn.com/media-proxy/ext?w=800&h=800&hash=eORUVUmWJ207NdbPsoX7pKubIDY%3D&ora=1%2CaFBCTXdkRmpGL2lvQUFBPQ%2CxAVta9Er0VO4khUewRQg7qCEoQGz60oIUpKRAW__H3D0vsrFICu2KJOcZrChpVoJeC0ewlZmIPLsEXKwD8fpbd--OJRs2Mq6OZLkN1BIYwwx"
          class="img-circle img-profile-tl">
      </a>
      <article class="postulante">
        <div class="tile-postulante">
          <span class="ion-heart fav"></span>
          <img
            src="https://media.licdn.com/media-proxy/ext?w=800&h=800&hash=eORUVUmWJ207NdbPsoX7pKubIDY%3D&ora=1%2CaFBCTXdkRmpGL2lvQUFBPQ%2CxAVta9Er0VO4khUewRQg7qCEoQGz60oIUpKRAW__H3D0vsrFICu2KJOcZrChpVoJeC0ewlZmIPLsEXKwD8fpbd--OJRs2Mq6OZLkN1BIYwwx"
            class="img-responsive img-circle">
          <h4>Susana G.</h4>
          <hr>
          <div class="info">
            <p>
              <strong>Edad:</strong>
              30
            </p>
            <p>
              <strong>Trabaja en:</strong>
              McDonalds
            </p>
            <p>
              <strong>Perfil:</strong>
              Vendedor - Telemarketing
            </p>
          </div>
          <hr>
          <div class="actions text-center">
            <a class="btn btn-default">Fuera del proceso</a>
            <a class="btn btn-primary">Avanzar</a>
          </div>
        </div>

        <div class="historia">
          <ul class="historial">
            <li>
              <strong>22/10</strong> · Postulación
            </li>
            <li>
              <strong>29/10</strong> · Contacto via Whatsapp
            </li>
            <li>
              <strong>30/10</strong> · Postulación
            </li>
            <li>
              <p class="bg-danger text-left">10/11 · Rechazado por: Daniela Lopez</p>
            </li>
            <li>
              <hr>
            </li>
            <li>
              <a href="" class="btn btn-default">Ver historial completo</a>
            </li>
          </ul>
        </div>
      </article>
      <ul class="text-left pruebas">
        <li>
          <small>
            <span class="pin mini"></span> Psicotécnico
          </small>
        </li>
        <li>
          <small>
            <span class="pin mini"></span> Técnico
          </small>
        </li>
        <li>
          <small>
            <span class="pin mini"></span> Ambiental
          </small>
        </li>
        <li>
          <small>
            <span class="pin mini"></span> Médico
          </small>
        </li>
      </ul>
    </li>
    <li>
      <span class="pin"></span>
    </li>
  </ul>

</div>
