<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close blanco" data-dismiss="modal" aria-label="Close"><span
        aria-hidden="true" style="font-size: 1.8rem;">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">
        Desbloquear Perfil
      </h4>
    </div>
    <div class="modal-body">

      <div class="tab-content">
        <h4>¿Está seguro que desea desbloquear el perfil?</h4>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="close()">Cerrar</button>
    </div>
  </div>
</div>
