
.well {
  background-color: #fff;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  border: none;
}

.main-container {
  background-color: #E9EBEE;
}

.invalid-field {
  input {
    border-left: 5px solid #a94442 !important;
  }
}

.autocomplete-location {
  display: block;
  width: 50%;
  input {
    display: block !important;
    width: 100% !important;
    height: 34px !important;
    padding: 6px 12px !important;
    font-size: 13px !important;
    line-height: 1.42857143 !important;
    color: #555 !important;
    background-color: #fff !important;
    background-image: none !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
  }

  ul {
    position: absolute;
    background: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    border: 1px solid #909090;
    z-index: 99;
    top: 50px;

    li {
      float: left;
      width: 100%;
      font-size: 15px;
    }
  }
}
