@import "../../../../../styles/vars.scss";

article {
  display: flex;
  align-items: center;
  .img {
    flex: 1;
    margin-right: 15px;
    img {
      max-width: 100%;
    }
  }

  .info {
    flex: 10;
    h4 {
      font-size: 15px;
      font-weight: 400;
      margin: 0 0 2px;
    }
    h5 {
      color: lighten($text-color, 10%);
      font-size: 13px;
      font-weight: 300;
      margin: 2px 0 0;
    }
  }
}

.ng-valid.required,
.ng-valid[required] {
  border-left: none;
}

.ng-invalid:not(form) {
  border-left: none;
}

.ng-valid.required,
.ng-valid[required] {
  input {
    border-left: 5px solid #42A948;
    /* green */
  }
}

.ng-invalid:not(form) {
  input {
    border-left: 5px solid #a94442;
    /* red */
  }
}
