<div class="row">
  <article class="col-xs-12">
    <h3 class="line">Formá parte de Birpin</h3>
  </article>

  <div class="col-md-6">
    <article class="well">
      <h4>Soy un profesional</h4>
      <p>¿Buscás trabajo o relacionarte con otras personas del ámbito profesional que favorezcan tu desarrollo?</p>
      <a routerLink="/signup/user" class="btn btn-primary">crear una cuenta de postulante</a>
    </article>
  </div>

  <div class="col-md-6">
    <article class="well">
      <h4>Represento a una empresa</h4>
      <p>¿Sos una empresa o consultora y queres encontrar de forma rápida e inteligente el talento que necesitás?</p>
      <a routerLink="/signup/company" class="btn btn-primary">crear cuenta de empresa</a>
    </article>
  </div>
</div>
